@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,300&subset=latin,cyrillic-ext);


@font-face {
    font-family: 'pf_universalbold';
    src: url('font/pfuniversal-bold-webfont.eot');
    src: url('font/pfuniversal-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/pfuniversal-bold-webfont.woff2') format('woff2'),
         url('font/pfuniversal-bold-webfont.woff') format('woff'),
         url('font/pfuniversal-bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'pf_universalmedium';
    src: url('font/pfuniversalmedium-regular-webfont.eot');
    src: url('font/pfuniversalmedium-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/pfuniversalmedium-regular-webfont.woff2') format('woff2'),
         url('font/pfuniversalmedium-regular-webfont.woff') format('woff'),
         url('font/pfuniversalmedium-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}


html {margin: 0; padding: 0; position: relative; min-height: 100%;}
body {margin: 0; padding: 0;}

div, p, a, li, td { -webkit-text-size-adjust:none; }

* {margin: 0; padding: 0;}
ul, li {margin: 0; padding: 0;}

div, p, ul, li {font-family: 'Open Sans', Arial, serif; font-weight: 400;}
a {font-family: 'Open Sans', Arial, serif; font-weight: 700; font-size: 14px;}

header {float: left; width: 100%; padding: 15px 0; background-color: #0062a8; position: relative; z-index: 3;}

.gline {width: 100%; margin: 0 auto; position: relative; float: left; height: 20px;}
.wbox {float: left; width: 52%; height: 20px; background-color: #FFF;}
.gbox {float: left; width: 48%; height: 20px; background-color: #79C041;}
.gline img {width: 20px; height: 20px; position: absolute; bottom: 0; right: 48%;}

nav {float: right; text-align: right;}
nav ul {}
nav ul li {list-style: none; display: inline; padding-left: 5px;}
nav ul li:first-child {padding-left: 0px;}
nav ul li a {color: #FFF; text-decoration: none; display: inline-block;}
nav ul li a:first-letter {color: #79C041;}
nav ul li a:hover {color: #79C041;}
nav ul li.active a {color: #79C041;}

section p {font-size: 14px; padding-bottom: 10px;}
article p {font-size: 14px; padding-bottom: 10px;}
p.theme {font-size: 22px; font-family: pf_universalmedium; color: #79C041; width: 100%;}
.bld {font-weight: 700 !important; font-size: 20px !important;}
.smt {font-weight: 400 !important; font-size: 20px !important;}

.inbold {font-family: pf_universalbold; font-size: 16px; color: #79C041;}
.incl {font-weight: 700; color: #79C041;}

.indpad {padding-top: 30px !important;}

aside p {font-size: 14px;}
aside p:last-child {padding-top: 10px;}
aside img {float: right; width: 500px; height: auto; padding-bottom: 20px; padding-left: 10px; clear: right;}

article.box p.theme {padding-bottom: 10px; list-style: none; padding-left: 0; text-indent: unset;}
article.box p {padding-bottom: 0; padding-left: 15px;}
article.box p span {position: absolute; margin-left: -15px; color: green;}
article.box p:before {color: red;}

article.contacts p.theme {padding-bottom: 10px;}
.contacts p {padding-bottom: 0px;}
.contact_gr {color: #79C041; font-family: pf_universalbold; padding-top: 10px; font-size: 18px;}

.contact_gr img {float: left !important; margin-top: 0px !important; width: 230px !important; border-left: none !important;}

.seco {padding-top: 10px;}
.after_blue {padding-top: 10px;}

footer img {border: 0;}

.sc {font-size: 22px; color: #79C041; width: 100%; border-bottom: 1px solid #88B4D3;  padding-bottom: 10px; margin-bottom: 10px; font-family: pf_universalbold;}
.mt {font-size: 22px; color: #79C041; width: 100%; border-bottom: 1px solid #88B4D3;  padding-bottom: 10px !important; margin-bottom: 10px; font-family: pf_universalbold;}
.cn {font-size: 22px; color: #79C041; width: 100%; margin-bottom: 10px; font-family: pf_universalbold;}

.sig {padding-top: 10px;}
.nbspace p {padding-bottom: 0px; font-size: 14px;}
.nbspace p:first-child {padding-bottom: 10px;}

@media screen and (min-width: 1051px) { /* FOR PC */

	body {margin: 0 0 250px; /* bottom = footer height */}

	.he_center {width: 1050px; margin: 0 auto; text-align: right;}
	nav {width: 500px; text-align: left;}
	.logo {margin: 0 auto; width: 1050px; color: #2F8541; font-size: 30px; font-weight: bold; margin-top: 20px;}
	.logo img {max-width: 310px;}
	
	p.slog {float: right; color: #79C041; font-family: pf_universalbold; font-size: 21px; padding-top: 13px;}
	
	.wrapper {margin: 0 auto; width: 1050px; padding-top: 10px; position: relative; overflow: hidden;}
  
	section {width: 520px;}
	section img:first-child {padding-top: 50px;}
	article {overflow: hidden; float: left;}
	aside {width: 500px; float: right; padding-left: 20px; padding-top: 0px; font-weight: 400;}
	.pclients {width: 500px; float: right; padding-top: 40px; padding-left: 10px; font-weight: 400;}
	.pclients {}
  
	.slider {width: 500px; height: auto; position: relative; padding-bottom: 10px;}
	.onimg {position: absolute; z-index: 5; background-color: #79C041; opacity: 0.8; padding: 10px; left: 20px; bottom: 30px; color: #FFF; font-size: 20px;}
 
	article.box {float: left; width: 510px; padding-right: 30px; padding-bottom: 40px;}
	article.box:nth-child(odd) {padding-right: 0;}
	
	article.box:nth-child(4) {margin-top: -80px;}
	article.box:nth-child(6) {margin-top: -40px;}
	
	.eeu {color: #79C041; font-weight: 700; padding-top: 10px; padding-bottom: 5px !important; font-size: 18px;}
  
	article.clients {width: 530px;}
	article.contacts {float: left; width: 1050px; padding-right: 30px; padding-bottom: 0px; position: relative;}
	
	.city {float: left; width: 1050px; padding-bottom: 30px;}
	.city img {float: right; border-left: 10px solid #FFF; margin-top: -50px;}
	
	img.cycle {width: 8px; height: 8px; padding-top: 0 !important;}
  
	.map {max-width: 900px; font-weight: 400; margin: 0 auto;}
	.map img {max-width: 900px; height: auto;}
  
	.show_only {display: none;}
		
	.just_gr {color: #79C041; padding-bottom: 10px !important; border-bottom: 1px solid #8ABFE4; font-size: 16px; clear: both;}
 
	footer {position: absolute; bottom: 0; height: 220px; width: 100%; background-color: #0062a8; border-top: 10px solid #79C041;}

	.f_content {width: 1050px; margin: 0 auto; padding: 20px 0; color: #FFF; font-size: 14px;}

	.f_left {float: left; width: 33%;}
	.f_left img {max-width: 200px; padding-bottom: 10px;}
	
	.f_middle {float: left; width: 33%;}
	.f_middle p {}
	.f_middle a {font-weight: normal; text-decoration: none; color: #FFF;}
	.f_middle a:hover {color: #5E9A2E;}
	.f_middle a img {width: 40px; height: 40px; padding: 10px 0;}

	.f_right {float: left; width: 33%; max-width: 500px;}
	.f_left p:first-child {font-weight: bold; padding-bottom: 10px;}
	.f_middle p:first-child {font-weight: bold; padding-bottom: 10px;}
	.f_right p:first-child {font-weight: bold; padding-bottom: 10px;}
	.f_tp {padding-top: 10px;}
 
}



@media screen and (max-width: 1050px) and (min-width: 701px) { /* FOR TABLET */

	body {margin: 0 0 230px; /* bottom = footer height */}

	.he_center {width: 100%; margin: 0 auto;}
	nav {padding-right: 1%; z-index: 6; position: relative;}
	.logo {margin: 0 auto; width: 100%; color: #2F8541; font-size: 30px; font-weight: bold; margin-top: 20px;}
	.logo img {max-width: 310px; padding-left: 1%;}
	
	p.slog {float: left; color: #79C041; font-family: pf_universalbold; font-size: 21px; padding-top: 13px; width: 98%; padding: 10px 1%;}
	
	.wrapper {margin: 0 auto; padding: 0 1%; width: 98%; padding-top: 10px; position: relative; overflow: hidden; padding-bottom: 10px;}
	section {width: 100%; float: left;}
	section img:first-child {padding-top: 0px;}
	article {overflow: hidden; float: left;}
	aside {width: 100%; float: left; padding-top: 70px; font-weight: 400;} 
	.pclients {padding-top: 0px !important; width: 100%; float: left; padding-left: 0px; font-weight: 400;}
	.pclients img {width: 100%; max-width: 500px;}
  
	.slider {display: block; width: 100%; max-width: 500px; height: auto; position: relative; z-index: 3; padding-bottom: 10px;}
	.onimg {position: absolute; z-index: 5; background-color: #5E9A2E; opacity: 0.8; padding: 10px; left: 20px; bottom: 30px; color: #FFF; font-size: 20px;}
  
	.ssslide img {float: left;}
  
	article.box {float: left; width: 49%; min-width: 300px; max-width: 500px; padding-bottom: 20px;}
	article.box:nth-child(even) {padding-right: 2%;}
	
	article.box:nth-child(4) {margin-top: -60px;}
	article.box:nth-child(6) {margin-top: -40px;}
	
	.eeu {color: #5E9A2E; font-weight: 700; padding-top: 10px; padding-bottom: 5px !important; font-size: 18px;}
	
	article.clients {}
	article.contacts {float: left; width: 100%; padding-right: 30px; padding-bottom: 0px; position: relative;}
	
	.city {float: left; padding-bottom: 20px; clear: left;}
	.city img {padding-left: 0px; width: 100%; height: auto;}
	
	img.cycle {width: 8px; height: 8px; padding-top: 0 !important;}
  
	.map {margin: 0 auto; width: 100%; max-width: 700px; font-weight: 400;}
	.map img {max-width: 100%;}
  
	aside {display: none;}
	.bhide {display: none;}
	
	.just_gr {color: #5E9A2E; padding-bottom: 10px !important; border-bottom: 0px solid #8ABFE4; font-size: 16px; clear: both;}
  
	footer {position: absolute; left: 0; bottom: 0; height: 220px; width: 100%; background-color: #0062a8; border-top: 10px solid #79c041;}

	.f_content {width: 98%; margin: 0 auto; margin: 0 1%; padding: 20px 0; color: #FFF; font-size: 14px;}

	.f_left {float: left; min-width: 33%;}
	.f_left img {max-width: 200px; padding-bottom: 10px;}
	
	.f_middle {float: left; width: 33%;}
	.f_middle p {}
	.f_middle a {font-weight: normal; text-decoration: none; color: #FFF;}
	.f_middle a:hover {color: #5E9A2E;}
	.f_middle a img {width: 40px; height: 40px; padding: 10px 0;}

	.f_right {float: left; width: 33%;}
	.f_left p:first-child {font-weight: bold; padding-bottom: 10px;}
	.f_middle p:first-child {font-weight: bold; padding-bottom: 10px;}
	.f_right p:first-child {font-weight: bold; padding-bottom: 10px;}
	.f_tp {padding-top: 10px;}
	
	
	

	
	
	
	
  
}



@media screen and (max-width: 700px) { /* FOR MOBILE */

	body {margin: 0 0 330px; /* bottom = footer height */}

	.he_center {width: 100%; margin: 0 auto;}
	nav {padding-right: 1%; z-index: 6; position: relative;}
	.logo {margin: 0 auto; width: 100%; color: #2F8541; font-size: 30px; font-weight: bold; margin-top: 20px;}
	.logo img {width: 98%; padding-left: 1%; max-width: 310px;}
	
	p.slog {float: left; color: #79C041; font-family: pf_universalbold; font-size: 21px; padding-top: 13px; width: 98%; padding: 10px 1%;}
	
	.wrapper {margin: 0 auto; padding: 0 1%; width: 98%; padding-top: 10px; position: relative; overflow: hidden; padding-bottom: 170px;}

	section {width: 100%; float: left;}
	section img:first-child {padding-top: 0px;}
	article {overflow: hidden;}
	aside {width: 100%; float: left; padding-top: 50px; font-weight: 400;}
	.pclients {padding-top: 0px !important; width: 100%; float: left; padding-left: 0px; font-weight: 400;}
	.pclients img {width: 100%; max-width: 500px;}
  
	.slider {display: block; width: 100%; max-width: 500px; height: auto; position: relative; z-index: 3; padding-bottom: 10px;}
	.onimg {position: absolute; z-index: 5; background-color: #5E9A2E; opacity: 0.8; padding: 10px; left: 20px; bottom: 30px; color: #FFF; font-size: 20px;}
  
	.ssslide img {float: left;}
  
	article.box {float: left; width: 100%; padding-bottom: 20px;}
	article.box:nth-child(odd) {}
	article.box p.space {margin-top: 0px;}
	
	.eeu {color: #5E9A2E; font-weight: 700; padding-top: 10px; padding-bottom: 5px !important; font-size: 18px;}
    
	article.clients {}
	article.contacts {float: left; width: 100%; padding-right: 30px; padding-bottom: 0px; position: relative;}
	
	.city {float: left; padding-bottom: 20px;}
	.city img {padding-left: 0px; width: 100%; height: auto;}
	
	img.cycle {width: 8px; height: 8px; padding-top: 0 !important;}
  
	.map {margin: 0 auto; width: 100%; max-width: 500px; font-weight: 400;}
	.map img {max-width: 100%;}
  
	aside {display: none;}
	.bhide {display: none;}
	
	.just_gr {color: #5E9A2E; padding-bottom: 10px !important; border-bottom: 1px solid #8ABFE4; font-size: 16px; clear: both;}
 
	footer {position: absolute; left: 0; bottom: 0; height: 480px; width: 100%; background-color: #0062a8; border-top: 10px solid #79c041;}

	.f_content {width: 98%; margin: 0 auto; margin: 0 1%;  padding: 20px 0; color: #FFF; font-size: 14px;}

	.f_left {float: left; width: 100%;}
	.f_left img {max-width: 200px; padding-bottom: 10px;}
	
	.f_middle {float: left; width: 100%;}
	.f_middle p {}
	.f_middle a {font-weight: normal; text-decoration: none; color: #FFF;}
	.f_middle a:hover {color: #5E9A2E;}
	.f_middle a img {width: 40px; height: 40px; padding: 10px 0;}

	.f_right {float: left; width: 100%;}
	.f_left p:first-child {font-weight: bold; padding-bottom: 10px;}
	.f_middle p:first-child {font-weight: bold; padding-bottom: 10px;}
	.f_right p:first-child {font-weight: bold; padding-bottom: 10px;}
	.f_tp {padding-top: 10px;}
	
	
	
	
  
}




